.intro {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.profpic {
  align-self: center;
  max-width: 100%;
  min-width: 30%;
  flex: 1;
  margin-bottom: 0px;
  width: 40%;
  float: left;
}

.bio {
  float: right;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-bottom: 30px;
}

.recentPosts {
  padding-top: 50px;
}

#simpleGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
}
