
.container{
    margin: 30px 50px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: row;
}

.title{
    flex: 1;

}

.titleLink{
    text-decoration: none;
}

.nav{
    flex: 1x;
    margin-left: auto;
}
.navLink{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-family: "Karla";
    font-size: 25px;
    text-transform: uppercase;
}

.navLink:hover{
    text-decoration: underline;
}